<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px; font-size: 14px; line-height: 1.8;">
        <p style="margin: 0;">เรียน ทุกท่าน</p>
        <br>
        <p style="margin: 0;">
            เรียน ทุกท่าน

            ผู้สมัคร คุณ <strong>{{FullNameThai}}</strong> ตำแหน่ง <strong>{{JobTitle}}</strong>
        </p>
        <p style="margin: 0;">
            ได้ทำการกรอกข้อมูลในการสมัครงานเพิ่มเติมรอบ ที่ 2 หลังจากที่ได้รับคัดเลือกให้เข้าเป็นพนักงาน เรียบร้อยแล้ว
            ขั้นตอนถัดไป แผนก HR จะต้องทำการเข้าสู่ระบบและไปที่เมนูการว่าจ้าง เพื่อไปทำการตรวจและยืนยันข้อมูลของผู้สมัคร
        </p>
        <br>
        <p style="color:red; font-weight: bold; margin: 0;">
            **อีเมลนี้เป็นข้อความอัตโนมัติ กรุณาอย่าตอบกลับ**
        </p>
    </div>
</body>
</html>